.DS_Store
.cache

# dependencies
/node_modules/*
/coverage

# fes
/src/.fes
/src/.fes-production
/src/.fes-test
.env.local

#不排除 排除alienkitty 和 oimophysics  基于:https://github.com/alienkitty/alien.js 库
#因为这两个库从npm包很难下载，且有的下架了
#!/node_modules/@alienkitty/
#!/node_modules/oimophysics/
yarn.lock
yarn-error.log
package-lock.json

# 排除 resourceManager 、 tvtViewHelper 、 tvtSceneCreator 等免费插件 可通过插件中心下载
src/plugins/resourceManager
src/plugins/tvtViewHelper
public/plugins/tvtViewHelper
src/plugins/tvtSceneCreator
public/plugins/tvtSceneCreator