<!--
 * @Description: 
 * @Version: 1.668
 * @Autor: 地虎降天龙
 * @Date: 2023-10-16 10:53:09
 * @LastEditors: 地虎降天龙
 * @LastEditTime: 2023-11-15 10:50:55
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="./logo.png">
    <script>
        var _hmt = _hmt || [];
        (function () {
            const hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?3c442b1ada04ec23771dfc94ea581c10";
            const s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body>
    <div id="<%= mountElementId %>"></div>
</body>

</html>